$dark: #22222b;
$light:#faf9fe;
$grey:#7f7f82;

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $dark;
}


.wrapper {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 
}

.main {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 39px;
    padding-bottom: 163px;
    box-sizing: border-box ;

}
.header {

    position: fixed;
    z-index: 50;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        position: relative;
        z-index:6;
    }
   
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light;
    opacity: 80%;
    z-index: 6;
}

.nav {
    position: relative;
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 6;
    &-item{
        margin-left: 23px;
        position: relative;
    }
    &-link {
        color: $dark;
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid transparent;
        transition: 0.3s;
        &:hover {
            border-bottom: 1px solid $dark;
        }
    }
    
}

//  Бургер меню для телефонов
.header_burger,{
    display: none;
}
@media (max-width:768px){
    
    body.lock {
        overflow: hidden;

    }
    .nav {
        z-index: 5;
        transition: all 0.4s;
        
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 7;
        right: -15%;
    }
    .b-span {
        position: absolute;
        background-color: $dark;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease-in;

    }
    .header_burger::before, 
    .header_burger::after {
        content: '';
        background-color: $dark;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease-in;

    }
    .header_burger::before {
        top: 0;
    }
    .header_burger::after {
        bottom: 0;
    }
    .nav {
        transition: all 0.3;
        display: block;
        height: 100%;
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        background-color: $dark;
        padding-top: 100px;
        
        &-item {
           margin-bottom: 5%;   
        }
        a {
            color: $light;
            font-size: 30px;
            font-weight: 300;
        }
        
    
    }
    .nav.active {
        top: 0;
    }
}
.header_burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.header_burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;;
}
.header_burger.active .b-span {
transform: scale(0);
}
.title-h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    padding-top: 42px;
    span {
       font-weight: 500;
    }
}
.title-h2 {
    text-align: left;
    font-size: 48px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 38px;
    margin-bottom: 0;
    

}
.title-h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}
.text-center {
    text-align: center;
}
.after-title {
color: #7f7f82;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 60px;
}
.button-scroll {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
}



.box-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
    margin-left: 4px;
    &-item {
        position: relative;
        flex: 0 0 45%;
        max-width: 48%;
        margin-top: 12px;
        &:first-child {
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;

        }
    }
    &__back {
        position: absolute;
        z-index: -1;
        left: -20px;
        top: -63px;
    }
    &__front {
        padding-top: 40px;
    }
    &-vert {
        position: absolute;
        left: -4%;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 16px;
        bottom: 58px;
        letter-spacing: 1.6px;
        &::after {
            content: '';
            width: 1px;
            height: 45px;
            background-color: $dark;
            display: block;
            position: absolute;  
            right: 9px;
            top: 93px;          

        }
    }
    &_text {
     color: $grey;
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 48px;
     margin-top: 18px;
     margin-left: 4px;

    }
}
.progress {
    &-text{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
    }
    &-line{
        width: 100%;
        height: 2px;
        background-color: $dark;
        position: relative;
        margin-bottom: 7px;
        &::before {
            content: '';
            background-image: url(../img/Starting_Pont.png);
            background-repeat: no-repeat;
            display: block;
            width: 6px;
            height: 11px;
            position: absolute;
            left: 0;
            top: calc(50% - 5.5px);    
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            display: block;
            height: 2px;
            background-color:#7f7f82;
        }
    }
    .indesing {
        &::after {
            width: 35%;
        }

    }
    .xd {
        &::after {
            width: 20%;
        }
    }
}
.section-services {
    background-color: $light;
    padding-top: 5%;

}
.service {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 48px;
    padding-bottom: 80px;
    &-text {
        color: $grey;
        font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    }
 &-item:hover {
        .service-link {
            width: inherit;
            opacity: 1;
            transition: 0.4s ease-in;
        }
    }


    &-icon {
        display: block;
        width: 44px;
        height: 37px;
        margin-bottom: 35px;
    }
   
    &-link {
    color: #22222b;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    position: relative;
    opacity: 0;
    display: flex;
    justify-self: flex-start;
    &-text {
        transition: 0.3s;
        margin: auto 3%;
        width: 25px;
        height: 1px;
        background-color: $dark;
    }

}

    h2 {
        color: #22222b;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    }
    
}
.section-portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}
 .portfolio {
     padding-top: 50px;
    display:grid;
    grid-template: repeat(7, 88px) / 1fr 1fr 1fr;
    grid-gap: 40px;
    &-01 {
    grid-column: 1/2;
    grid-row: 1/4;
}
    &-02 {
    grid-column: 2/3;
    grid-row: 1/5;
}
    &-03 {
    grid-column: 3/4;
    grid-row: 1/4;
}
    &-04 {
    grid-column: 1/2;
    grid-row: 4/8;
}
    &-05 {
    grid-column: 2/3;
    grid-row: 5/8;
}
    &-06 {
    grid-column: 3/4;
    grid-row: 4/8;
}
&-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
}
.btn {
    color: $light;
    background-color: $dark;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 0;
    
}
.qetion {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $dark;
    color: white; 
    text-align: center;
    h2 {
        margin-top: 28px;
        margin-bottom: 50px;
        font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    }
    .btn {
        
        color: $dark;
        background-color: $light;
        text-decoration: none;
        padding: 16px 55px;
        margin-top: 30px;
        
    }
}

.section-feedback{
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
    color: #22222b;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;

    }
}
.feedback{
    display: flex;
    justify-content: space-between;
    &-item {
        flex: 0 0 45%;
        max-width: 45%;
    }
    &-top {
        display: flex;
        justify-content: flex-start;
    }
    &-thumb {
        margin-right: 18px;
    }
    &-name{
        &_title{
            color: #22222b;
            font-family: Roboto;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0;
        }
        &_job{
            color: #7f7f82;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 26px;
            margin-top: 0;
            margin-bottom: 70px;
        }
    }
    &-body{
        color: #7f7f82;
        font-style: italic;;
        font-size: 18px;
        line-height: 32px;
        padding-left: 28px;
    }

}

.section-advant{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: $light;
    
}
.advant{
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    p{
    color: #22222b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    }
    span{
        color: #22222b;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    display: block;
    }
    &-icon {
        background-color: $dark;
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &_icon_01{
        background-image: url(../img/icon-heart.svg);
    }
    &_icon_02{
        background-image: url(../img/icon-case.svg);
    }
    &_icon_03{
        background-image: url(../img/icon-circle.svg);
    }
    &_icon_04{
        background-image: url(../img/icone-prise.svg);
    }
}
.section-form {
    padding-top: 80px;
    padding-bottom: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    &-input, &-textarea {
        color: #7f7f82;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
        text-align: center;
        padding-top: 35px;
        border: none;
        border-bottom: 1px solid #e1e1e1;
        transition: 00.3s;
    }
    &-input {
        padding-bottom: 20px;
    }
    &-textarea {
        padding-bottom: 56px;  
    }
    :hover {
        outline: none;
        border-bottom: 1px solid $dark;
    }
    .btn {
        margin-top: 35px;
        border: none;
        margin-bottom: 10%;
       &:hover {
           background-color: $light;
           color: $dark;
           border: 1px solid $dark;
       }
        
    }
   
    
}
.form-attention-input{
    border: 1px solid salmon; 
    &::placeholder {
        color: salmon;
    }
} 



footer {
    background-color: $dark;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    span {
        margin-left: 10%;
    }

}
.social-n{
    list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-right: 10%;
  &-item{
      margin-left: 10px;
      
  }
  a{
    color: white;
    margin-left: 18px;
}

}

.section-thanks {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    height: 30em;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 5em;

    .section-alert {
        padding-top: 2em;
        padding-bottom: 5em;
        padding-left: 3em;
        padding-right: 3em;
        opacity: 70%;
        display: block;
        background-color: $light;
        margin: 0 auto;

    }
}

@media (max-width:768px){
   
    .button-scroll {
        margin-bottom: -30%;
    }
    .title-h1 {
        font-size: 40px;
    }
    .box-about {
        flex-direction: column;
        img {
            max-width: 230px;
            max-height: 300px;
        }
        &__back {
            margin-top: 25%;
            left: -45px;
          
        }
        &-vert {
           bottom: 0;
           left: -45px;
           
        }

    }
    .box-about-item {
        text-align: center;
        max-width: 100%;
        .title-h2 {
            text-align: center;
            font-size: 37px;
            
        }
    }
    .section-services {
        h2 {
            font-weight: 300;
            font-size: 40px;
        }
        .service {
            grid-template: 1fr 1fr 1fr / 1fr 1fr;
            grid-gap: 4%;
            text-align: center;
            &-icon {
                margin: 0 auto;
            }
        }
    }
    .section-portfolio {
        h2.title-h2 {
            font-weight: 300;
            font-size: 40px;
            margin-top: 0;
        }
        .after-title {
            margin-bottom: 0;
        }
        .portfolio {
            grid-template: repeat(7, 70px)/1fr 1fr 1fr;
            grid-gap: 2%;
        }
    }
    .qetion {
        padding-top: 8%;
    padding-bottom: 20%;
        h2 {
            font-size: 38px;
        font-weight: 300;
        line-height: 45px;
    }
    }
    .section-feedback {
        padding-top: 10%;
        padding-bottom: 0;
        .feedback {
            flex-direction: column;
            &-top {
                justify-content: center;
            }
            &-item{
                max-width: 100%;
                margin-bottom: 10%;
            }
        }
    }
    .section-advant {
        .advant {
            flex-wrap: wrap;
            text-align: center;
            justify-self: center;
        }
        padding-top: 20%;
        padding-bottom: 20%;
        .advant-item {
        width: 170px;            
        }
    }
    .section-form {
        padding-top: 1%;
        h2 {
            font-size: 44px;
            font-weight: 300;
        }
        .after-title {
            margin-bottom: 10%;
        }
    }
    .footer {
        flex-direction: column;
        span {
            margin-top: 1%;
            margin-bottom: 1%;
        }
        ul {
            margin-top: 1%;
            margin-bottom: 1%;
        }
    }


}