body, html {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  color: #22222b; }

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.main {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 163px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header img {
    position: relative;
    z-index: 6; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faf9fe;
  opacity: 80%;
  z-index: 6; }

.nav {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 6; }
  .nav-item {
    margin-left: 23px;
    position: relative; }
  .nav-link {
    color: #22222b;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav-link:hover {
      border-bottom: 1px solid #22222b; }

.header_burger {
  display: none; }

@media (max-width: 768px) {
  body.lock {
    overflow: hidden; }

  .nav {
    z-index: 5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 7;
    right: -15%; }

  .b-span {
    position: absolute;
    background-color: #22222b;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

  .header_burger::before,
  .header_burger::after {
    content: '';
    background-color: #22222b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

  .header_burger::before {
    top: 0; }

  .header_burger::after {
    bottom: 0; }

  .nav {
    -webkit-transition: all 0.3;
    transition: all 0.3;
    display: block;
    height: 100%;
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    background-color: #22222b;
    padding-top: 100px; }
    .nav-item {
      margin-bottom: 5%; }
    .nav a {
      color: #faf9fe;
      font-size: 30px;
      font-weight: 300; }

  .nav.active {
    top: 0; } }
.header_burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px; }

.header_burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px; }

.header_burger.active .b-span {
  -webkit-transform: scale(0);
          transform: scale(0); }

.title-h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  padding-top: 42px; }
  .title-h1 span {
    font-weight: 500; }

.title-h2 {
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 38px;
  margin-bottom: 0; }

.title-h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px; }

.text-center {
  text-align: center; }

.after-title {
  color: #7f7f82;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 60px; }

.button-scroll {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto; }

.box-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: 4px; }
  .box-about-item {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 48%;
    margin-top: 12px; }
    .box-about-item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }
  .box-about__back {
    position: absolute;
    z-index: -1;
    left: -20px;
    top: -63px; }
  .box-about__front {
    padding-top: 40px; }
  .box-about-vert {
    position: absolute;
    left: -4%;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    font-size: 16px;
    bottom: 58px;
    letter-spacing: 1.6px; }
    .box-about-vert::after {
      content: '';
      width: 1px;
      height: 45px;
      background-color: #22222b;
      display: block;
      position: absolute;
      right: 9px;
      top: 93px; }
  .box-about_text {
    color: #7f7f82;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    margin-top: 18px;
    margin-left: 4px; }

.progress-text {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-bottom: 10px; }
.progress-line {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative;
  margin-bottom: 7px; }
  .progress-line::before {
    content: '';
    background-image: url(../img/Starting_Pont.png);
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px); }
  .progress-line::after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    height: 2px;
    background-color: #7f7f82; }
.progress .indesing::after {
  width: 35%; }
.progress .xd::after {
  width: 20%; }

.section-services {
  background-color: #faf9fe;
  padding-top: 5%; }

.service {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 48px;
  padding-bottom: 80px; }
  .service-text {
    color: #7f7f82;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px; }
  .service-item:hover .service-link {
    width: inherit;
    opacity: 1;
    -webkit-transition: 0.4s ease-in;
    transition: 0.4s ease-in; }
  .service-icon {
    display: block;
    width: 44px;
    height: 37px;
    margin-bottom: 35px; }
  .service-link {
    color: #22222b;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    position: relative;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-start; }
    .service-link-text {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin: auto 3%;
      width: 25px;
      height: 1px;
      background-color: #22222b; }
  .service h2 {
    color: #22222b;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px; }

.section-portfolio {
  padding-top: 100px;
  padding-bottom: 100px; }

.portfolio {
  padding-top: 50px;
  display: grid;
  grid-template: repeat(7, 88px)/1fr 1fr 1fr;
  grid-gap: 40px; }
  .portfolio-01 {
    grid-column: 1/2;
    grid-row: 1/4; }
  .portfolio-02 {
    grid-column: 2/3;
    grid-row: 1/5; }
  .portfolio-03 {
    grid-column: 3/4;
    grid-row: 1/4; }
  .portfolio-04 {
    grid-column: 1/2;
    grid-row: 4/8; }
  .portfolio-05 {
    grid-column: 2/3;
    grid-row: 5/8; }
  .portfolio-06 {
    grid-column: 3/4;
    grid-row: 4/8; }
  .portfolio-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .portfolio-thumb img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.btn {
  color: #faf9fe;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0; }

.qetion {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #22222b;
  color: white;
  text-align: center; }
  .qetion h2 {
    margin-top: 28px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    line-height: 32px; }
  .qetion .btn {
    color: #22222b;
    background-color: #faf9fe;
    text-decoration: none;
    padding: 16px 55px;
    margin-top: 30px; }

.section-feedback {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-feedback h2 {
    color: #22222b;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px; }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .feedback-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%; }
  .feedback-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .feedback-thumb {
    margin-right: 18px; }
  .feedback-name_title {
    color: #22222b;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0; }
  .feedback-name_job {
    color: #7f7f82;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 70px; }
  .feedback-body {
    color: #7f7f82;
    font-style: italic;
    font-size: 18px;
    line-height: 32px;
    padding-left: 28px; }

.section-advant {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #faf9fe; }

.advant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  max-width: 1000px;
  margin: auto; }
  .advant p {
    color: #22222b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase; }
  .advant span {
    color: #22222b;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    display: block; }
  .advant-icon {
    background-color: #22222b;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat; }
  .advant_icon_01 {
    background-image: url(../img/icon-heart.svg); }
  .advant_icon_02 {
    background-image: url(../img/icon-case.svg); }
  .advant_icon_03 {
    background-image: url(../img/icon-circle.svg); }
  .advant_icon_04 {
    background-image: url(../img/icone-prise.svg); }

.section-form {
  padding-top: 80px;
  padding-bottom: 100px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  margin: 0 auto; }
  .form-input, .form-textarea {
    color: #7f7f82;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 35px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    -webkit-transition: 00.3s;
    transition: 00.3s; }
  .form-input {
    padding-bottom: 20px; }
  .form-textarea {
    padding-bottom: 56px; }
  .form :hover {
    outline: none;
    border-bottom: 1px solid #22222b; }
  .form .btn {
    margin-top: 35px;
    border: none;
    margin-bottom: 10%; }
    .form .btn:hover {
      background-color: #faf9fe;
      color: #22222b;
      border: 1px solid #22222b; }

.form-attention-input {
  border: 1px solid salmon; }
  .form-attention-input::-webkit-input-placeholder {
    color: salmon; }
  .form-attention-input:-ms-input-placeholder {
    color: salmon; }
  .form-attention-input::-ms-input-placeholder {
    color: salmon; }
  .form-attention-input::placeholder {
    color: salmon; }

footer {
  background-color: #22222b;
  padding-top: 2%;
  padding-bottom: 2%; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 16px; }
  .footer span {
    margin-left: 10%; }

.social-n {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-right: 10%; }
  .social-n-item {
    margin-left: 10px; }
  .social-n a {
    color: white;
    margin-left: 18px; }

.section-thanks {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  height: 30em;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em; }
  .section-thanks .section-alert {
    padding-top: 2em;
    padding-bottom: 5em;
    padding-left: 3em;
    padding-right: 3em;
    opacity: 70%;
    display: block;
    background-color: #faf9fe;
    margin: 0 auto; }

@media (max-width: 768px) {
  .button-scroll {
    margin-bottom: -30%; }

  .title-h1 {
    font-size: 40px; }

  .box-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .box-about img {
      max-width: 230px;
      max-height: 300px; }
    .box-about__back {
      margin-top: 25%;
      left: -45px; }
    .box-about-vert {
      bottom: 0;
      left: -45px; }

  .box-about-item {
    text-align: center;
    max-width: 100%; }
    .box-about-item .title-h2 {
      text-align: center;
      font-size: 37px; }

  .section-services h2 {
    font-weight: 300;
    font-size: 40px; }
  .section-services .service {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 4%;
    text-align: center; }
    .section-services .service-icon {
      margin: 0 auto; }

  .section-portfolio h2.title-h2 {
    font-weight: 300;
    font-size: 40px;
    margin-top: 0; }
  .section-portfolio .after-title {
    margin-bottom: 0; }
  .section-portfolio .portfolio {
    grid-template: repeat(7, 70px)/1fr 1fr 1fr;
    grid-gap: 2%; }

  .qetion {
    padding-top: 8%;
    padding-bottom: 20%; }
    .qetion h2 {
      font-size: 38px;
      font-weight: 300;
      line-height: 45px; }

  .section-feedback {
    padding-top: 10%;
    padding-bottom: 0; }
    .section-feedback .feedback {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .section-feedback .feedback-top {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .section-feedback .feedback-item {
        max-width: 100%;
        margin-bottom: 10%; }

  .section-advant {
    padding-top: 20%;
    padding-bottom: 20%; }
    .section-advant .advant {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      text-align: center;
      justify-self: center; }
    .section-advant .advant-item {
      width: 170px; }

  .section-form {
    padding-top: 1%; }
    .section-form h2 {
      font-size: 44px;
      font-weight: 300; }
    .section-form .after-title {
      margin-bottom: 10%; }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer span {
      margin-top: 1%;
      margin-bottom: 1%; }
    .footer ul {
      margin-top: 1%;
      margin-bottom: 1%; } }

/*# sourceMappingURL=style.css.map */